body {
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
}
h1 {
    margin: 1.25em 0 0.33em 0;
    font-size: 400%;
}
h2, h3 {
    margin: 1.5em 0;
}
p {
    margin: 1em 0 2em 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.no-float {
    float: none;
}
.text-black {
    color: #000;
}
.text-white {
    color: #fff;
}
a.text-white:hover {
    color: #777;
}

#header-row {
    background: rgba(0, 0, 0, 0);
    padding: 0.7em;
    border: none;
}
#phone {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
}
.top-background {
    background: rgba(0, 0, 0, 0) url(../images/top-background.jpg)
        no-repeat center scroll;
    background-size: 112% auto;
}
#hero {
    font-size: 3em;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
#hero-container {
    margin: 20% 15%;
    text-align: center;
}
#hero-empty {
    width: 1024px;
    height: 100%;
}
#hero .subtitle {
    font-size: 0.5em;
    padding: 1.75em 0 0.5em 0;
}
#hero .btn {
    text-shadow: none;
}
#glav {
    margin: 2.5em 0;
}
#social {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    padding: 1em 0;
}
#contacts {
    text-align: center;
    font-size: 2em;
    padding: 0 0 1em 0;
    font-family: 'Philosopher', sans-serif;
    font-style: italic;
}
#contacts a {
    color: #000;
}
#footer {
    background: #111;
    color: #fff;
}
#footer-button {
    padding: 2.5em 0 5em 0;
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.zoom-out figure img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.zoom-out figure:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.thumb-number {
    float: right;
    position: relative;
    right: 4px;
    bottom: 34px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.fancybox-title-over-wrap {
    margin: 0 0 4px 4px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

/* Tiny Carousel */
#slider {
    background: #efefef;
    height: 1%;
    margin: 30px 0;
    overflow: hidden;
    position: relative;
    padding: 0px 46px;
}

#slider .viewport {
    height: 250px;
    overflow: hidden;
    position: relative;
}

#slider .buttons {
    background: #aaa;
    color: #ddd;
    border-radius: 35px;
    display: block;
    position: absolute;
    top: 45%;
    left: 5px;
    width: 35px;
    height: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
}

#slider .next {
    right: 5px;
    left: auto;
    top: 45%;
}

#slider .buttons:hover {
    color: #aaa;
    background: #ccc;
}

#slider .disable {
    visibility: hidden;
}

#slider .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 250px;
    left: 0;
    top: 0;
}

#slider .overview li {
    float: left;
    margin: 0 0px 0 0;
    padding: 1px;
    width: 250px;
 }
@media (max-width: 1023px) /* @grid-float-breakpoint -1 */
{
    #hero-container {
        margin: 20% 2.5%;
    }
}
@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
    h1 {
        font-size: 200%;
    }
    .btn {
        width: 66%;
    }
    #header-row {
        background: #111;
        text-align: center;
    }
    #hero-container {
        margin: 10% 2.5%;
    }
    .top-background {
        background-size: 112%;
    }
    .navbar-fixed-top {
        position: relative;
        top: auto;
        margin-bottom: 0;
    }
    #glav div {
        margin-bottom: 1em;
    }
}
@media (max-width: 479px) /* @grid-float-breakpoint -1 */
{
    #hero-container {
        margin: 6.5% 2.5%;
    }
}
