body {
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
}
h1 {
    margin: 1.25em 0 0.33em 0;
    font-size: 400%;
}
h2, h3 {
    margin: 1.5em 0;
}
p {
    margin: 1em 0 2em 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.no-float {
    float: none;
}
.text-black {
    color: #000;
}
.text-white {
    color: #fff;
}
a.text-white:hover {
    color: #777;
}
.top-background {
    background: rgba(0, 0, 0, 0) url(../images/top-background.jpg)
        no-repeat center scroll;
    background-size: 112% auto;
}
#hero {
    font-size: 3em;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
width: 100%;
}
#hero-container {
    margin: 20% 0;
    text-align: center;
}
#hero-empty {
    height: 250px;
}
#social {
    text-align: center;
    font-size: 2.3em;
    font-weight: 300;
    padding: 1em 0;
}
#social ul {
	text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#social ul li {
	display: inline-block;
	margin: 0 10px;
}
#slider {
    width: 100%;
}
#slider ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#slider ul li {
	display: inline-block;
	margin: 0 -3px;
}

#contacts {
    text-align: center;
    font-size: 2em;
    padding: 1em 0;
    font-family: 'Philosopher', sans-serif;
    font-style: italic;
}
#contacts a {
    color: #000;
}
#footer {
    background: #111;
    color: #fff;
}
#footer-button {
    padding: 2.5em 0 5em 0;
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.zoom-out figure img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.zoom-out figure:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.thumb-number {
    float: right;
    position: relative;
    right: 4px;
    bottom: 34px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.fancybox-title-over-wrap {
    margin: 0 0 4px 4px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

@media (max-width: 1023px) /* @grid-float-breakpoint -1 */
{
    #hero-container {
        margin: 20% 0;
    }
}
@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
    h1 {
        font-size: 200%;
    }
    .btn {
        width: 66%;
    }
    #header-row {
        background: #111;
        text-align: center;
    }
    #hero-container {
        margin: 10% 0;
    }
    .top-background {
        background-size: 112%;
    }
    .navbar-fixed-top {
        position: relative;
        top: auto;
        margin-bottom: 0;
    }
    #glav div {
        margin-bottom: 1em;
    }
}
@media (max-width: 479px) /* @grid-float-breakpoint -1 */
{
    #hero-container {
        margin: 1% 0;
    }
}
